
<style>
    /* putting the css here so you can look at it */
    body {
        margin: 0;
    }

    .navbar {
        position: fixed;
        height: 75px;
        top: 0;
        width: 100%;
        z-index: 9;
        background-color: rgba(0, 0, 0, 0.54);
    }
    .LOGOnav {
        left: 10px; 
        height: 75px;
        top: 50%;
        transform: translate(-0%, -50%);
        position: relative;
        width: 75px;
        float: left;
    }
    .NAVTXTOLD {
        font-size: 22px;
        top: 50%;
        transform: translate(-0%, -100%);
        color: white;
        position: relative;
        float: left;
        left: 15px;
    }
    .NAVMAINTXT {
        font-size: 22px;
        top: 5px;
        color: white;
        position: relative;
        float: left;
        left: 15px;
    }
    .optionNAV {
        font-size: 18px;
        color: white;
        float: right; 
        right: 5px;
        margin-right: 20px;
        top: 50%;
        transition: 0.5s;
        position: relative;
        transform: translate(-0%, -100%);
        cursor: pointer;
    }
    .optionNAV:hover {
        padding: 10px;
        top: 50% !important;
        transform: translate(-0%, -80%) !important;
        border-radius: 15px;
        background-color: rgba(39, 39, 39, 0.412);
    }
    .navLINK {
        text-decoration: none;
        color: white;
    }
    .descTXT {
        font-size: 15px;
        color: white;
        position: absolute;
        left: 90px;
        top: 30px;
    }
  </style>
  <div class="navbar">

    <img src="/icons/150mule.png" class="LOGOnav">
    <h1 class="NAVMAINTXT">M.U.L.E</h1>
    <p class="descTXT" >Made by OJH students for OJH students.    </p>
    <!--Quick Selectable Options-->

    <a class="navLINK" href="/main/settings.html">
        <h1 class="optionNAV">
            Settings
        </h1>
    </a>


    <a class="navLINK" href="/main/games.html">
        <h1 class="optionNAV">
            Games
        </h1>
    </a>

    <a class="navLINK" href="/">
        <h1 class="optionNAV">
            Home
        </h1>
    </a>


    
  </div>
       