body {
  background-color: cornflowerblue;
}

h1 {
  font-size: 100px;
  color: black;
  font-family: trebuchet ms;
}

h2 {
  font-size: 25px;
  color: black;
  font-family: trebuchet ms;
}

p {
  font-family: trebuchet ms;
  font-size: 50px;
  color: black;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}