body {
  background-color: cornflowerblue;
}

#content {
  position:relative;
}

h1 {
  font-size: 100px;
  color: black;
  font-family: trebuchet ms;
}

h2 {
  font-size: 25px;
  color: black;
  font-family: trebuchet ms;
}

p {
  font-family: trebuchet ms;
  font-size: 50px;
  color: black;
}

.button {
  background-color: #0000aa;
  border: none;
  color: white;
  padding: 30px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 8px 4px;
  cursor: pointer;
  border-radius: 16px;
}

.menuITEMS {
  position: relative;
  left: 50%;
  margin: 10px;
  border: none;
  color: rgba(255, 255, 255, 0.746);
  width: 80%;
  height: 70px;
  transform: translate(-50%, -0%);
  cursor: pointer;
  border-radius: 15px;
  font-size: 18px;
  transition: 0.5s;
  background-color: rgba(31, 31, 31, 0.581);
}

.menuITEMS:hover {
  width: 84%;
  border-radius: 50px;
}

.leftcorner {
  position: absolute;
        top: 0px;
        left: 0px;
}

.rightcorner {
  position: absolute;
        top: 0px;
        right: 0px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}