body {
  background-color: cornflowerblue;
}

h1 {
  font-size: 100px;
  color: black;
  font-family: trebuchet ms;
}

h2 {
  font-size: 25px;
  color: black;
  font-family: trebuchet ms;
}

p {
  font-family: trebuchet ms;
  font-size: 50px;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
body{
	background-color: cornflowerblue;
}
ul{
	display: flex;
	width: 100%;
	height: 80vh;
	margin: auto;
	max-width: 1000px;
	justify-content: space-between;
	text-align: center;
}
li {
	padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
	min-width: 80px;
	margin: auto;
}

li:hover {
  background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
  background-size: 100% 100%;
  color: black;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #ef816c;
	font-weight: bold;
}
li:active {
  transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}